.row>div>{
    padding: 20px;
}


#profile-pic{
    width: 200px;
    height: 200px;
    background-color: gray;
    margin:auto;
    background-image: url(draven.jpg);
    background-size: cover;
    position: relative;
    left: -105px;
}
body{
    background-image: url(draven3.jpg);
    color: white;
    background-size: cover;

    min-height: 100vh;
    width: 100%;
}
#frame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    margin-top: 50px;
}